.success {
   display: flex;
   .icon {
   }
   .info {
      display: flex;
      flex-direction: column;
      padding-left: 1rem;
      .title {
         font-size: 2.4rem;
         margin-bottom: 0.4rem;
         // color: c.$Dominant1;
         color: azure;
      }
      span{
         font-size: 2rem;
         // color: c.$Accent3;
      }
   }
}
.container {
   display: flex;
   .icon {
   }
   .info {
      display: flex;
      flex-direction: column;
      padding-left: 1rem;
      .title {
         font-size: 2.4rem;
         margin-bottom: 0.4rem;
         // color: c.$Dominant1;
         color: aqua;
      }
      span{
         font-size: 2rem;
         // color: c.$Accent4;
         color: antiquewhite;
      }
   }
}

.warning {
   display: flex;
   .icon {
   }
   .info {
      display: flex;
      flex-direction: column;
      padding-left: 1rem;
      .title {
         font-size: 2.4rem;
         margin-bottom: 0.4rem;
         color: yellow;
      }
      span{
         font-size: 1.6rem;
         color: rgb(178, 178, 0);
      }
   }
}